@import "tailwindcss";

@theme {
  --color-gold-400: #F2C94C;
  --color-gold-500: #E5B93B;
  --color-gold-600: #CFA22E;
  --color-gold-700: #B98C20;

  --color-yellow-400: #FACC15;
  --color-yellow-500: #EAB308;
  --color-yellow-600: #CA8A04;

  --color-black-900: #000000;
  --color-black-800: #0A0A0A;

  --color-gray-800: #1A1A1A;
  --color-gray-700: #2A2A2A;
  --color-gray-600: #3F3F3F;
  --color-gray-400: #A3A3A3;
  --color-gray-200: #E5E5E5;

  --color-status-success: #22C55E;
  --color-status-info: #3B82F6;
  --color-status-warning: #EAB308;
  --color-status-danger: #EF4444;

  --font-sans: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;
  --font-mono: Fira Code, monospace;
}

@layer base {
  body {
    @apply bg-black-900 text-gray-200 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-gold-500 font-bold;
  }
}